<html>

<head>
  <title>Forms</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <form method="POST" action="/new">
    <label for="name">Author's name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="msg">Message</label><br>
    <input type="text" id="msg" name="msg"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>